<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}.%method) - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.ekiaa.akka.persistence.entity" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>